body {
  /*background-color: lightblue;*/
  color: #000;
  font-family: 'ubuntu', sans-serif;
}
h1 {
  color: #5fcf80;
  font-size: 2.00em;
  /* font-weight: normal;
  line-height: 0.8em; */
}
h2 {  
  color: green;
  font-size: 1.50em;
  /*font-weight: normal;*/
}
h3 {
  font-size: 1.25em;
}
a,
a:visited {
  color: #fff; 
  text-decoration: none;
}
nav a, nav a:visited {
  font-weight:; 
  padding:;
}
nav a.selected,
nav a:hover {
  color: #be2126; 
  /*color: #7d1619;*/
}


nav {
  background-color: orange;
}
nav ul {
  list-style: none;
}
nav li {
  font-weight: 800;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

#wrapper {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 5%;
  /*background-color: orange;*/
}
#logo {
  text-align: center;
  margin:;
  padding:;
}

/* media queries */

@media screen and (min-width: 480px) {
  body {
    /*background-color: lightblue;*/

    /*font-family: 'ubuntu', sans-serif;*/
  }
  h1 {
    font-size: 2.25em;
    /* font-weight: normal;
    line-height: 0.8em; */
  }
  h2 {  
    font-size: 1.75em;
    /*font-weight: normal;*/
  }
  h3 {
    font-size: 1.50em;
  }
}
@media screen and (min-width: 660px) {
  h1 {
    font-size: 2.50em;
    /* font-weight: normal;
    line-height: 0.8em; */
  }
  h2 {  
    font-size: 2.00em;
    /*font-weight: normal;*/
  }
  h3 {
    font-size: 1.75em;
  }
}