body {
  /*background-color: lightblue;*/
  color: #000;
  font-family: 'ubuntu', sans-serif;
  background-color: #fff;
}
#wrapper {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 5%;
  /*background-color: orange;*/
}
#logo {
  text-align: center;
  margin: 0;
  padding:;
}
h1 {
  color: #5fcf80;
  font-size: 2.00em;
  /* font-weight: normal;
  line-height: 0.8em; */
}
h2 {  
  color: #009f6b;
  font-size: 1.50em;
  /*font-weight: normal;*/
}
h3 {
  font-size: 1.00em;
  margin-bottom: 1.00em;
}
img {
  max-width: 100%;
}
a,
a:visited {
  color: #00755E;
  text-decoration: none;
}
nav a, nav a:visited {
  color: #fff; 
  font-weight:;
  padding:;
}
nav a.selected {
  color: #be2126;
}
nav a:hover { 
  color: #7d1619;
}
nav {
  background-color: #ffa500;
}
nav ul {
  list-style: none;
}
nav li {
  font-weight: 800;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}
footer {
  font-size: 1.00em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #aaa;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
#secondary {
  margin-top: 30px;
}
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.00em;
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/* media queries */
@media screen and (min-width: 480px) {
  body {
    /*background-color: lightblue;*/

    /*font-family: 'ubuntu', sans-serif;*/
  }
  h1 {
    font-size: 2.25em;
    /* font-weight: normal;
    line-height: 0.8em; */
  }
  h2 {  
    font-size: 1.75em;
    /*font-weight: normal;*/
  }
  h3 {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 660px) {
  h1 {
    font-size: 2.50em;
    /* font-weight: normal;
    line-height: 0.8em; */
  }
  h2 {  
    font-size: 2.00em;
    /*font-weight: normal;*/
  }
  h3 {
    font-size: 1.50em;
  }
}

@media screen and (min-width: 480px) {  
  #primary {
    width: 50%;
    float: left;
  }
  #secondary {
    width: 40%;
    float: right;
  }
}